.o-tiling-active-hint {
    border-style: solid;
    border-color: #3584e4;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-width: 1px;
}

.o-tiling-overlay {
    background-color: rgba(53, 132, 228, 0.2);
}

.o-tiling-border-normal {
    border-width: 1px;
}

.o-tiling-border-maximize {
    border-width: 0px;
}

.o-tiling-tab {
    border: 1px solid #ccc;
    color: #333;
    padding: 0 1em;
}

.o-tiling-tab-active {
    background: #3584e4;
    color: white;
}

.o-tiling-tab-inactive {
    background: #f6f6f6;
    color: #666;
}

.o-tiling-tab-urgent {
    background: #e01b24;
}
